yc_token = 
yc_cloud_id = 
yc_folder_id = 
yc_image_id = "fd8slhpjt2754igimqu8"
type_network_hdd = "network-hdd"
zone_a = "ru-central1-a"
zone_b = "ru-central1-b"
standard_v3 = "standard-v3"
disk_vm_web1 = "disk-vm-web1"
disk_vm_web2 = "disk-vm-web2"
disk_vm_bastion = "disk-vm-bastion"
disk_vm_zabbix = "disk-vm-zabbix"
disk_vm_elastic = "disk-vm-elastic"
disk_vm_kibana = "disk-vm-kibana"
protocol_any = "ANY"
protocol_tcp = "TCP"
protocol_icmp = "ICMP"
disk_size_10 = 10
disk_size_20 = 20